
.earring.content-container {
  max-width: 75%;

  @include small {
    max-width: 50%;
  }

  @include medium {
    max-width: 45%;
  }

  @include large {
    max-width: 35%;
  }

  .welcome-app {
    color: $primary;
    font-family: Open Sans;
    font-size: 2.4vh;
    font-weight: 600;
    margin: 2vh auto;
  }

  .vision-ciudadana {
    margin-bottom: 4vh;
    padding-bottom: 10vh;
    width: 100%;
  }

  .card .content {
    border: 1px solid $cegir-primary;
  }

  .earring-message {
    background-color: $cegir-primary;
    border-radius: 4px;
    color: $white;
    font-family: Open Sans;
    font-size: 1.6vh;
    font-weight: 700;
    margin: 1vh 2vw;
    padding: 1vh 2vw;
  }

  .earring-bye {
    font-family: Roboto;
    font-size: 2.4vh;
    font-weight: 600;
    margin: 3vh auto;
  }
}
