.earring-message {
  background-color: $cegir-primary;
  border-radius: 4px;
  color: $white;
  font-family: Open Sans;
  font-size: 1.6vh;
  font-weight: 700;
  margin: 1vh 2vw;
  padding: 1vh 2vw;
}

.earring-bye {
  font-family: Roboto;
  font-size: 2vh;
  font-weight: 600;
  margin: 1vh auto;
}
