.query-result-to-map {
  background-color: $white;
  border-radius: 6px;
  filter: drop-shadow(0 0 3px $shadow);
  width: max-content;

  .query-result-to-map-link {
    display: flex;
    padding: 1.5vh .5vw;
    text-decoration: none;
  }

  .to-map-link-label {
    color: $secondary;
    font-family: Open Sans;
    user-select: none;
  }

  .icon {
    padding-bottom: 2vh;
    padding-right: 2vw;
  }
}

.query-datable-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vw;
  width: 10vw;
}

.query-data .data-result-container {
  padding: 1vh 1vw;
}

.data-result-container {
  font-size: 1.8vh;

  .cell-tooltip {
    position: relative;

  }

  .datatable-container {
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    padding-bottom: 15%;
    width: 100%;

    th {
      text-wrap: nowrap;
      vertical-align: baseline;
    }

    .cell.rut {
      text-wrap: nowrap;
    }

    .dt-field-desc {
      font-size: 1.5vh;
      font-weight: 400;
      text-wrap: balance;
    }
  }

  .datatable-sorter {
    &::before,
    &::after {
      right: -1vw;
    }
  }

  .datatable-input {
    font-family: Open Sans;
    font-size: 2vh;
    min-width: 35vw;
    padding-block: 2px; // scss-lint:disable PropertySpelling
  }

  .datatable-selector {
    font-family: Open Sans;
    font-size: 2vh;
    padding: 0;
  }

  .datatable-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1vh 3vw;

    &::after {
      content: none;
    }
  }
}
