.map-shapes-control {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 0 5.3px 0 $shadow, 0 2px 4px 0 $shadow-ligth;
  font-size: 2vh;
  padding: 1vh 1vw;
  position: absolute;
  z-index: 1000;

  .icon {
    padding-bottom: 2vh;
    padding-right: 2vw;

    &.back {
      padding-bottom: 3vh;
    }
  }

  .map-shapes-button {
    cursor: pointer;
    display: flex;
    font-family: Open Sans;
    font-weight: 600;
    justify-content: space-between;
    user-select: none;
  }

  .map-shapes-list {
    padding-top: 2vh;
  }

  .map-shape-element {
    display: flex;
    font-family: Open Sans;
    font-weight: 400;
    margin-bottom: 1vh;

    .map-shape-icon {
      cursor: pointer;
    }
  }

  .marker-preview-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 2vh;
    padding-right: 2vw;

    &[counter="0"] {
      background-image: url('../images/icons/marker-0.svg');
    }

    &[counter="1"] {
      background-image: url('../images/icons/marker-1.svg');
    }

    &[counter="2"] {
      background-image: url('../images/icons/marker-2.svg');
    }
  }

  .map-shape-label {
    padding: 0 1vw;
  }
}

.query-map .map.map-result {
  height: 70vh;
  margin: 0;
}

.map.map-result {
  margin: 0;
  max-height: 75vh;
}

.fetch-meta {
  font-family: Open Sans;
  font-size: 2vh;
  padding: 1vh 1vw;
}

.marker-content {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-size: 9px;

  .responses-list .item {
    padding: .4vh 0;
  }

  .item {
    display: flex;

    .field {
      font-weight: 600;
      min-width: 30%;
    }

    .image {
      background-color: $inactive;
      width: 50%;
    }
  }

  .responses-title {
    border-bottom: solid .3px $secondary;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 1vh;
    padding: .5vh 0;
  }
}
