<div class="image-input {% if widget.attrs.disabled %}hidden{% endif %}">
    <div class="delete closed-icon hidden"></div>
    <label for="{{ widget.attrs.id }}">
        <span class="image-icon"></span>
        <span class="image-icon-description">Agregar foto</span>
    </label>
    <input class="hidden"
           type="{{ widget.type }}"
           name="{{ widget.name }}"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}
           {% if widget.min_num > 0 %}required{% endif %}>
</div>
