*.pyc
.idea/
.vscode/
.env
venv_server/
.venv/
venv/
.bash_history
.cache/
.ipython/
.coverage*
!.coveragerc
.local/
.mypy_cache/
.pytest_cache/
.python_history
htmlcov/
test-results/
*.ipynb
.DS_Store
_*/
node_modules/
admin.css
submit.css
vendors.js
media/

staticfiles/
