*.pyc
.idea/
.vscode/
.env
.bash_history
.cache/
.ipython/
.coverage*
!.coveragerc
.local/
.mypy_cache/
.pytest_cache/
.python_history
htmlcov/
*.ipynb
.DS_Store
_*/
node_modules/
*.css
vendors.js
*.min.js
*.min.js.map
media/
