// Main Colors

$primary: #000;
$secondary: #454546;
$terciary: #979797;
$inactive: #d8d8d8;
$cegir-primary: #143358;
$disabled: #f0f0f0;

$white: #fff;
$gore-primary: #e74810;
$gore-secondary: #0d3a5c;
$shadow: rgba(0, 0, 0, .25);
$shadow-ligth: rgba(0, 0, 0, .10);
$shadow-strong: rgba(0, 0, 0, .5);

$primary-hover: #1a1a1a;
$error: #c1368c;

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.otf');
}
