<div class="view query-list hidden" id="query-list">
    <div class="main-label">Todas las consultas</div>
    <div class="query-item hidden" id="query-item-template">
        <div class="name"></div>
        <div class="content">
            <div class="attributes">
                <div class="times">
                    <div class="start-at"></div>
                    <div class="end-at"></div>
                </div>
                <div class="status">
                    <div class="status-label">Estado actual:</div>
                    <div class="status-value"></div>
                </div>
            </div>
            <div class="actions">
                <div class="total-responses">
                    <span class="field">Respuestas totales:</span><span class="value"></span>
                </div>
                <div class="content">
                    <div class="action-button item-detail-link">Ver detalles</div>
                </div>
            </div>
        </div>
    </div>
    <div class="query-item-list"></div>
</div>
