<div class="view query-api hidden" id="query-api">
    <div class="api-swagger-container">
        <div class="api-swagger-title main-label">API Visión Ciudadana</div>
        <div class="api-swagger-token">
            <div class="api-swagger-token-label">Token</div>
            <div class="api-swagger-token-value" id="query-api-token-value"></div>
            <div class="api-swagger-token-action copy-link-container">
                <div class="secondary-button"
                     id="query-api-token-copy-link"
                     value="query-api-token-value">
                    <i class="icon copy"></i> Copiar link
                </div>
            </div>
        </div>
        <div class="query-api-endpoints" id="query-api-endpoints"></div>
    </div>
</div>
