<div class="view query-create hidden" id="query-create">
    <div class="main-label link" id="link-to-query-list">Todas las consultas</div>
    <div class="query-create-content">
        <div class="query-draft">
            <div class="query-item create" id="query-create-item">
                <input class="name input"
                       type="text"
                       field="name"
                       placeholder="Escribe un título para la consulta..."
                       id="query-create-name">
            </input>
            <div class="error-label" id="query-create-name-error"></div>
            <div class="content">
                <div class="attributes">
                    <div class="times">
                        <div class="start-at">
                            <div class="time-label">Desde:</div>
                            <input class="start-at-input" type="date" field="start_at">
                        </div>
                        <div class="end-at">
                            <div class="time-label">Hasta:</div>
                            <input class="end-at-input" type="date" field="end_at">
                        </div>
                    </div>
                    <div class="error-label" id="query-create-times-error"></div>
                    <div class="status">
                        <div class="status-label">Estado actual:</div>
                        <select class="input status-value" id="query-create-active" field="active">
                            <option value="false">Borrador</option>
                            <option value="true">Activa</option>
                        </select>
                    </div>
                    <div class="error-label" id="query-create-status-error"></div>
                </div>
                <div class="actions">
                    <div class="action-more-attributes-button"
                         id="query-create-more-attrs-button">
                        <i class="icon bottom"></i><span>Opciones</span>
                    </div>
                </div>
            </div>
            <div class="more-attributes hidden" id="query-create-more-attrs">
                <div class="attribute">
                    <textarea id="query-create-description" class="attribute-textarea" field="description" placeholder="Agrega una descripción...">
                        </textarea>
                    <div class="error-label" id="query-create-description-error"></div>
                </div>
                <div class="attribute with-label">
                    <div class="attribute-label">Solicitar correo</div>
                    <select id="query-create-auth-email" class="status-value" field="auth_email">
                        <option value="OPTIONAL">Opcional</option>
                        <option value="REQUIRED">Requerido</option>
                        <option value="DISABLED">Deshabilitado</option>
                    </select>
                    <div class="error-label" id="query-create-auth-email-error"></div>
                </div>
                <div class="attribute with-label">
                    <div class="attribute-label">Solicitar RUT</div>
                    <select id="query-create-auth-rut" class="status-value" field="auth_rut">
                        <option value="OPTIONAL">Opcional</option>
                        <option value="REQUIRED">Requerido</option>
                        <option value="DISABLED">Deshabilitado</option>
                    </select>
                    <div class="error-label" id="query-create-auth-rut-error"></div>
                </div>
            </div>
        </div>
        <div class="rightbar">
            <div class="sidebar-button" id="create-query-button">Publicar consulta</div>
        </div>
    </div>
    <div class="query-components">
        <div class="tabs" id="query-create-tabs">
            <div class="tab-links">
                <div class="tab-link active">Crear consulta</div>
            </div>
            <div class="create-questions-tab" id="create-questions-tab"></div>
        </div>
        <div class="rightbar">
            <div class="dropdown">
                <div class="sidebar-button" id="create-question-button">Añadir pregunta</div>
                <div class="dropdown-content hidden" id="create-question-options">
                    <div class="dropdown-item" kind="TEXT" type="short">Texto corto</div>
                    <div class="dropdown-item" kind="TEXT" type="large">Texto largo</div>
                    <div class="dropdown-item" kind="SELECT">Selección múltiple</div>
                    <div class="dropdown-item" kind="IMAGE">Imagen</div>
                    <div class="dropdown-item" kind="POINT">Ubicación</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
