<div class="view query-share hidden" id="query-share">
    <div class="share-container">
        <div class="subtitle">Compartir consulta</div>
        <div class="action-container">
            <div class="secondary-button" id="query-share-copy-link">
                <i class="icon copy"></i> Copiar link
            </div>
        </div>
        <div class="subtitle">Descargar QR</div>
        <div class="action-container">
            <div class="secondary-button" id="query-share-download-link">
                <i class="icon download"></i> Descargar QR
            </div>
        </div>
        <div class="subtitle">Imprimir PDF</div>
        <div class="action-container">
            <div class="secondary-button" id="query-share-print-link">
                <i class="icon print"></i>Imprimir
            </div>
        </div>
    </div>
</div>
