.entry.content-container {
  height: 65vh;

  .logo-gs.entry {
    margin: 5vh auto;
    padding-bottom: 10vh;
    padding-right: 50vw;
  }

  .head-title,
  .main-title {
    color: $primary;
    text-align: center;
    user-select: none;
    width: 100%;
  }

  .head-title {
    font-family: Gotham;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .325px;
    line-height: normal;
  }

  .main-title {
    font-family: Roboto;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 80%;
    padding-bottom: 5vh;

    b {
      display: block;
    }
  }

  .card {
    align-self: center;
    border: 1px solid $cegir-primary;
    margin-bottom: 3vh;
    width: 75vw;

    @include small {
      width: 50vw;
    }
  }
}
