.submit-content {
  margin-top: 7vh;

  @include small {
    margin-top: 6vh;
  }

  @include large {
    margin-top: 5vh;
  }
}

.content-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  margin: auto;
  max-width: 90%;

  @include small {
    max-width: 70%;
  }

  @include medium {
    max-width: 50%;
  }

  @include large {
    max-width: 40%;
  }

  &.hidden {
    display: none;
  }
}

.section.title {
  color: $secondary;
  font-family: 'Gotham';
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 2vw;
  width: 50%;

  @include small {
    font-size: .8rem;
  }
}

.section.subtitle {
  font-size: 9px;
  margin-top: 1rem;

  @include small {
    font-size: .9rem;
  }
}

.section.text-content {
  font-size: 9px;
  max-height: 45vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include small {
    font-size: .9rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    -ms-overflow-style: auto;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      display: auto;
    }
  }
}

.card {
  background-color: $terciary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  width: 100%;

  .content {
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 0 5.3px 0 $shadow;
    margin-top: 25vw;
    width: 100%;

    .subtitle {
      font-size: 2vh;
      font-weight: 700;
      line-height: 108%;
      padding: 2vh 3vw;

      @include small {
        font-size: 2vh;
      }
    }
  }

  &.no-image {
    .content {margin-top: 0;}
  }
}

.card-times {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  padding: 0 3vw;

  .start-at,
  .end-at {
    font-size: 1.8vh;
    letter-spacing: .5px;
    line-height: 1rem;

    .label {
      font-size: 2vh;
    }
  }
}

.buttons-container {
  align-items: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 4vh 5vw;
  position: fixed;
  width: 90vw;

  .back-button {
    align-items: center;
    color: $terciary;
    cursor: pointer;
    display: flex;
    font-family: Open Sans;
    font-size: 2.2vh;
    font-weight: 600;
    user-select: none;

    &.hidden {
      display: none;
    }
  }

  .button {
    margin: 0;
  }
}

.question-name {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 115%;
  margin-bottom: 1vh;

  @include small {
    font-size: 1.5rem;
  }
}

.question-description {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 2vh;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;

  @include small {
    font-size: .8rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    -ms-overflow-style: auto;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      display: auto;
    }
  }
}
