// Main Colors

$primary: #000;
$secondary: #454546;
$terciary: #979797;
$inactive: #d8d8d8;

$white: #fff;
$gore-primary: #e74810;
$gore-secondary: #0d3a5c;
$shadow: rgba(0, 0, 0, .25);

$primary-hover: #1a1a1a;
