{% extends "admin/base.html" %}
{% block title %}
    Cambiar contraseña
{% endblock title %}
{% block content %}
    <div class="login admin-content">
        <form id="login-form" method="post" action="." class="form">
            <h1 class="title">Cambiar contraseña</h1>
            {% csrf_token %}
            <div class="title">Contraseña actual</div>
            <div class="form-field">{{ form.old_password }}</div>
            {% if form.old_password.errors %}
                <div class="errors">
                    {% for error in form.old_password.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
            <div class="title">Nueva contraseña</div>
            <div class="form-field">{{ form.new_password1 }}</div>
            {% if form.new_password1.errors %}
                <div class="errors">
                    {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
            <div class="title">Repita la contraseña</div>
            <div class="form-field">{{ form.new_password2 }}</div>
            {% if form.new_password2.errors %}
                <div class="errors">
                    {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
            <br>
            <input type="submit" class="primary-button" value="Guardar">
        </form>
    </div>
{% endblock content %}
