{% extends "admin/base.html" %}
{% block title %}
    Recuperar contraseña
{% endblock title %}
{% block content %}
    <div class="login admin-content">
        <div class="login-form">
            <form method="post" action=".">
                <h1 class="title">Recuperar contraseña</h1>
                {% if messages %}
                    {% for message in messages %}<div class="form-field subtitle">{{ message }}</div>{% endfor %}
                {% endif %}
                <div class="form-field">¿Perdiste tu contraseña? Ingresa tu correo para enviarte un enlace de recuperación.</div>
                {% csrf_token %}
                <div class="form-field">{{ form.email }}</div>
                <br>
                <input class="primary-button" type="submit" value="Recuperar contraseña" />
            </form>
        </div>
    </div>
{% endblock content %}
