{% extends "admin/base.html" %}
{% block extra_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
          rel="stylesheet"
          type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
            type="text/javascript"></script>
    <script src=" https://cdn.jsdelivr.net/npm/image-blob-reduce@4.1.0/dist/image-blob-reduce.min.js "></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.css"
          integrity="sha512-087vysR/jM0N5cp13Vlp+ZF9wx6tKbvJLwPO8Iit6J7R+n7uIMMjg37dEgexOshDmDITHYY5useeSmfD1MYiQA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
{% endblock extra_css %}
{% block modal %}
    <div class="admin-modal hidden" id="admin-modal">
        <div class="admin-modal-content">
            <div class="admin-modal-close icon close-dark" id="admin-modal-close"></div>
        </div>
    </div>
{% endblock modal %}
{% block menu %}
    <div class="menu-dropdown dropdown-wrapper">
        <div class="menu-button" id="menu-button"></div>
        <div class="menu-content hidden dd-content" id="menu-content">
            <div class="menu-item link" id="query-create-link">
                <icon class="icon plus"></icon>
                <div class="menu-label">Crear nueva consulta</div>
            </div>
            <div class="menu-item link" id="query-list-link">
                <icon class="icon list"></icon>
                <div class="menu-label">Todas las consultas</div>
            </div>
            <div class="menu-item">
                <icon class="icon user"></icon>
                <div class="menu-label">{{ user.email }}</div>
            </div>
            <div class="menu-divider"></div>
            <a class="menu-item link" href="{% url 'admin:logout' %}">
                <icon class="icon"></icon>
                <div class="menu-label">Cerrar sesión</div>
            </a>
        </div>
    </div>
{% endblock menu %}
{% block content %}
    <div class="admin-content">
        <div class="views">
            <div class="view load" id="loading">
                <div class="loading">
                    {% for i in '0123'|make_list %}<div class="element"></div>{% endfor %}
                </div>
            </div>
            {% include "admin/views/query-list.html" %}
            {% include "admin/views/query-detail.html" %}
            {% include "admin/views/query-edit.html" with view_type="create" %}
            {% include "admin/views/query-edit.html" with view_type="update" %}
            {% include "admin/views/query-result.html" with view_type="result" %}
            {% include "admin/views/query-result.html" with view_type="questions" %}
            {% include "admin/views/query-result.html" with view_type="map" %}
            {% include "admin/views/query-result.html" with view_type="data" %}
            {% include "admin/views/query-share.html" %}
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" type="text">const manager = new admin.AdminEngine({
      url_base: '{{url_base}}',
      csrf_token: '{{ csrf_token }}',
      focus: {% if cursor.focus %}'{{cursor.focus}}'{% else %}null{% endif %},
      key: {% if cursor.key %}'{{cursor.key}}'{% else %}null{% endif %},
      user: {email: '{{user.email}}', is_superuser: {% if user.is_superuser%}true{% else %}false{% endif %}},
    });
    </script>
{% endblock extra_js %}
