{% extends "public_queries/base.html" %}
{% block title %}
    Consultas Ciudadanas
{% endblock title %}
{% block navbar %}
    <div class="navbar" id="navbar">
        <div class="logo-cegir"></div>
        <div class="nav-brand">
            Visión <b>Ciudadana</b>
        </div>
        <div class="logo-gs"></div>
    </div>
{% endblock navbar %}
{% block content %}
    <div class="admin-content">
        <div class="admin-sidebar">
            <div class="main-label">Consultas públicas</div>
            <div class="sidebar-button">
                <i class="icon plus"></i> Crear consulta
            </div>
        </div>
        <div class="views">
            <div class="view load" id="loading">
                <div class="loading">
                    {% for i in '0123'|make_list %}<div class="element"></div>{% endfor %}
                </div>
            </div>
            <div class="view query-list hidden" id="query-list">
                <div class="main-label">Todas las consultas</div>
                <div class="query-item hidden" id="query-item-template">
                    <div class="name"></div>
                    <div class="content">
                        <div class="attributes">
                            <div class="times">
                                <div class="start-at"></div>
                                <div class="end-at"></div>
                            </div>
                            <div class="status">
                                <div class="status-label">Estado actual:</div>
                                <div class="status-value"></div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="action-button">Ver detalles</div>
                        </div>
                    </div>
                </div>
                <div class="query-item-list"></div>
            </div>
            <div class="view query-detail hidden" id="query-detail">
                <div class="main-label link" id="link-to-query-list">Todas las consultas</div>
                <div class="query-item" id="query-detail-item">
                    <div class="name"></div>
                    <div class="content">
                        <div class="attributes">
                            <div class="times">
                                <div class="start-at"></div>
                                <div class="end-at"></div>
                            </div>
                            <div class="status">
                                <div class="status-label">Estado actual:</div>
                                <div class="status-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view query-create hidden" id="query-create"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" type="text">const manager = new project.AdminEngine(
      {url_base: '{{url_base}}'});
    </script>
{% endblock extra_js %}
