{% extends "public_queries/base.html" %}
{% block content %}
    <div class="admin-content">
        <div class="admin-sidebar"></div>
        <div class="views">
            <div class="view load" id="loading">
                <div class="loading">
                    {% for i in '0123'|make_list %}<div class="element"></div>{% endfor %}
                </div>
            </div>
            <div class="view query-list hidden" id="query-list">
                <div class="subtitle">Todas las consultas</div>
                <div class="query-item hidden" id="query-item-template">
                    <div class="name"></div>
                    <div class="times">
                        <div class="start-at"></div>
                        <div class="end-at"></div>
                    </div>
                    <div class="status">
                        <div class="label">Estado actual:</div>
                        <div class="value"></div>
                    </div>
                </div>
                <div class="query-item-list"></div>
            </div>
            <div class="view query-detail hidden" id="query-detail"></div>
            <div class="view query-create hidden" id="query-create"></div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" type="text">const manager = new project.AdminEngine(
      {url_base: '{{url_base}}'});
    </script>
{% endblock extra_js %}
