{% extends "admin/base.html" %}
{% block content %}
    <div class="login admin-content">
        <div class="login-form">
            <div class="vision-ciudadana"></div>
            <form method="post" id="login-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="form-field">{{ form.username }}</div>
                <div class="form-field">{{ form.password }}</div>
                <div class="errors">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                    {% endif %}
                    {% if form.username.errors %}{{ form.username.errors }}{% endif %}
                    {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                </div>
                <input class="sidebar-button login" type="submit" value="Ingresar">
            </form>
        </div>
    </div>
{% endblock content %}
