.entry.content-container {

  .head-title,
  .main-title {
    color: $primary;
    text-align: center;
    user-select: none;
    width: 100%;
  }

  .head-title {
    font-family: Gotham;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: .325px;
    line-height: normal;
  }

  .main-title {
    font-family: Roboto;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 80%;
    padding-bottom: 5vh;

    b {
      display: block;
    }
  }

  .card {
    align-self: center;
    border: 1px solid $cegir-primary;
    margin-bottom: 3vh;
    width: 75vw;

    @include small {
      width: 50vw;
    }
  }
}

.identifier.content-container {
  justify-content: start;
  margin-bottom: 3vh;
  padding-top: 5vh;

  .card {
    margin-bottom: 3vh;
  }

  .section.title,
  .errors,
  .form-field {
    align-self: center;
    width: 70%;

    input {
      padding: 2vh;
    }
  }
}

.detail.content-container {
  justify-content: start;
  margin-bottom: 3vh;
  padding-top: 5vh;

  .card {
    margin-bottom: 3vh;
  }

  .section.title,
  .section.text-content {
    align-self: center;
    width: 80%;
  }
}

.buttons-container {
  align-items: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 4vh 5vw;
  position: fixed;
  width: 90vw;

  .back-button {
    align-items: center;
    color: $terciary;
    cursor: pointer;
    display: flex;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;

    &.hidden {
      display: none;
    }
  }

  .button {
    margin: 0;
  }
}

.question-name {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 115%;
  margin-bottom: 1vh;

  @include small {
    font-size: 1.5rem;
  }
}

.question-description {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 2vh;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;

  @include small {
    font-size: .8rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    -ms-overflow-style: auto;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      display: auto;
    }
  }
}

.hidden {
  display: none;
}

.form-field .image-input {
  background: $white;
  background-position: center;
  background-size: cover;
  border: .5px solid $terciary;
  border-radius: 4px;
  margin-top: 3vh;
  width: 100%;

  @include small {
    font-size: 1rem;
  }

  &.error {
    border: .5px solid $error;
  }

  .image-icon {
    background-image: url('../images/icons/image.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 8vh;
    padding-right: 12vw;
  }

  .delete.closed-icon {
    background-image: url('../images/icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 8vh;
    padding-right: 12vw;
    position: fixed;
    right: 10vw;

    @include small {
      right: 20vw;
    }
  }

  label {
    align-items: center;
    display: inline-flex;
    height: 30vh;
    justify-content: center;
    width: 100%;
  }

}

.form-field > .options-field {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-evenly;
  margin-top: 1vh;
  width: 100%;


  strong {
    text-transform: uppercase;
  }

  label {
    border: .5px solid $terciary;
    border-radius: 4px;
    color: $secondary;
    display: inline-block;
    margin: 1vh 1vw;
    padding: 2vh 2vw;
    text-align: center;

    &.checked {
      border: 2px solid $cegir-primary;
      color: $cegir-primary;
      font-weight: 600;
    }
  }

  input {
    display: none;
  }
}

.dj_map_wrapper { // scss-lint:disable SelectorFormat
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;

  .clear_features a { // scss-lint:disable SelectorFormat
    color: $terciary;
    display: inline-block;
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
    text-decoration: solid;
    width: 100%;

    &.hidden {
      display: none;
    }
  }

  .dj_map { // scss-lint:disable SelectorFormat
    height: 35vh;
    width: 100%;
  }

  .ol-viewport {
    border-radius: 6px;
  }
}
