.data-result-container {
  font-size: 1.8vh;

  .cell-tooltip {
    position: relative;

  }

  .datatable-container {
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    padding-bottom: 15%;
    width: 100%;

    th {
      text-wrap: nowrap;
      vertical-align: baseline;
    }

    .cell.rut {
      text-wrap: nowrap;
    }

    .dt-field-desc {
      font-size: 1.5vh;
      font-weight: 400;
      text-wrap: balance;
    }
  }

  .datatable-sorter {
    &::before,
    &::after {
      right: -1vw;
    }
  }

  .datatable-input {
    font-family: Open Sans;
    font-size: 2vh;
    min-width: 35vw;
    padding-block: 2px; // scss-lint:disable PropertySpelling
  }

  .datatable-selector {
    font-family: Open Sans;
    font-size: 2vh;
    padding: 0;
  }

  .datatable-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1vh 3vw;

    &::after {
      content: none;
    }
  }
}

.cell-tooltip {
  .tooltip {
    background-color: $white;
    border: solid .5px $secondary;
    border-radius: 3px;
    display: none;
    opacity: 0;
    padding: 1vh 1vw;
    position: absolute;
    transition: opacity .3s;
    visibility: hidden;
    width: 150%;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
    }
  }

  &:hover .tooltip {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  &.value-select ul {
    margin: 0;
    padding-inline-start: 1vw;
  }

  .tooltip-image {
    width: 100%;
  }
}
