{% load static %}
<!DOCTYPE html>
<html lang="es"
      description="Consulta Ciudadana"
      keywords="consulta,ciudadana,chile">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="keywords" content="chile,consulta,ciudadana," />
        <meta name="description" content="Consulta Ciudadana" />
        <title>
            {% block title %}
                Consulta Ciudadana
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
        {% block css %}
            <link rel="icon"
                  type="image/x-icon"
                  href="{% static 'images/favicons/favicon.ico' %}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
                  rel="stylesheet">
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/npm/cf-gotham-fonts@1.0.0/gotham-font.min.css">
            <link href="{% static 'gis/css/ol3.css' %}" media="all" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css"
                  media="all"
                  rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
            <script src="{% static 'gis/js/OLMapWidget.js' %}"></script>
            <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
            <link href="{% static 'gis/css/ol3.css' %}" media="all" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
            <script src="{% static 'gis/js/OLMapWidget.js' %}"></script>
        {% endblock css %}
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        <div class="main-container">
            <div class="navigation">
                {% block navbar %}
                    <div class="navbar" id="navbar">
                        <div class="logo-cegir"></div>
                        <div class="logo-gs"></div>
                    </div>
                {% endblock navbar %}
            </div>
            {% block content %}
            {% endblock content %}
        </div>
        {% block modal %}
        {% endblock modal %}
        {% block javascript %}
            <script src="{% static 'js/project.min.js' %}"></script>
        {% endblock javascript %}
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
