{% extends "public_queries/base.html" %}
{% block navbar %}
    {{ block.super }}
    <div class="top-brand" id="top-brand">
        <div class="logo-gs-cegir"></div>
    </div>
{% endblock navbar %}
{% block content %}
    <form class="response-form"
          id="response-form"
          action=""
          method="post"
          name="response-form"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="entry content-container hidden" id="entry-container">
            <div class="head-title">{{ app_context.HEAD_TITLE }}</div>
            <div class="main-title">{{ app_context.MAIN_TITLE|safe }}</div>
            {% include "public_queries/components/public-query-card.html" with noimage="true" %}
            <div class="button" id="start-button">{{ app_context.QUERY_RESPONSE }}</div>
        </div>
        <div class="identifier content-container hidden" id="identifier-container">
            {% include "public_queries/components/public-query-card.html" with noimage="true" %}
            <div class="section title">{{ app_context.IDENTIFIER_LABEL }}</div>
            {% for field in response_form.hidden_fields %}{{ field }}{% endfor %}
            {% for field in response_form.visible_fields %}
                {% if not field.field.disabled %}
                    <div class="form-field{% if field.errors %} error{% endif %}">{{ field }}</div>
                {% endif %}
            {% endfor %}
            <div class="errors">
                {% if response_form.errors %}
                    {% for error in response_form.errors %}<span class="error">{{ error }}</span>{% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="detail content-container hidden" id="detail-container">
            {% include "public_queries/components/public-query-card.html" with noimage="true" %}
            <div class="section title">{{ app_context.DETAIL_LABEL }}</div>
            <div class="section text-content">{{ public_query.description|linebreaks }}</div>
        </div>
        {{ answer_formset.management_form }}
        {% for answer_form in answer_formset %}
            <div class="content-container question hidden"
                 id="question-container-{{ answer_form.question_data.index }}">
                <div class="section title">{{ app_context.QUESTION_LABEL }} {{ forloop.counter }}</div>
                <div class="question-name">{{ answer_form.question_data.name }}</div>
                {% if answer_form.question_data.description %}
                    <div class="question-description text-content">{{ answer_form.question_data.description }}</div>
                {% endif %}
                {% for field in answer_form.hidden_fields %}{{ field }}{% endfor %}
                {% for field in answer_form.visible_fields %}
                    {% if not field.field.disabled %}
                        <div class="form-field{% if field.errors %} field-error{% endif %}"
                             maxlength="{{ field.field.maxlength }}"
                             field="{{ field.name }}"
                             {% if field.field.required %}required{% endif %}>{{ field }}</div>
                    {% endif %}
                {% endfor %}
                <div class="errors">
                    {% if answer_form.errors %}
                        {% for field, errors in answer_form.errors.items %}
                            <span class="error">
                                {% for error in errors %}{{ error }}{% endfor %}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="buttons-container">
            <div class="back-button hidden" id="back-button">
                <i class="back-icon"></i><span>{{ app_context.BACK_LABEL }}</span>
            </div>
            <input id="form-submit"
                   class="button hidden"
                   type="submit"
                   value="{{ app_context.NEXT_LABEL }}" />
        </div>
    </form>
    <div class="load content-container hidden">
        <div class="loading">
            {% for i in '0123'|make_list %}<div class="element"></div>{% endfor %}
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" type="text">const manager = new project.QuerySubmitEngine(
      {focus:'{{focus}}', auth_url: '{{auth_url}}', csrf_token: '{{ csrf_token }}'});
    </script>
{% endblock extra_js %}
