{% extends "public_queries/base.html" %}
{% block content %}
    <div class="detail content-container">
        <div class="section title">Consulta</div>
        {% include "public_queries/components/public-query-card.html" %}
        <div class="section title with-line">Detalles</div>
        <div class="section subtitle">En qué consiste</div>
        <div class="section text-content">{{ public_query.description|linebreaks }}</div>
        <div class="section subtitle terciary-color">Más información</div>
        <div class="button">Rellenar Formulario</div>
    </div>
    {% if answer_formset %}
        <form class="response-form"
              id="response-form"
              action=""
              method="post"
              name="response-form"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="response content-container hidden" id="response-container">
                <div class="section title">Formulario</div>
                {% for field in response_form.hidden_fields %}{{ field }}{% endfor %}
                {% for field in response_form.visible_fields %}
                    <div class="form-field{% if field.errors %} error{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}<div class="errors">{{ field.errors }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div class="button">Siguiente</div>
            </div>
            {{ answer_formset.management_form }}
            {% for answer_form in answer_formset %}
                <div class="content-container question hidden"
                     id="question-container-{{ answer_form.question_data.index }}">
                    <div class="section title">Formulario</div>
                    {% include "public_queries/components/public-query-card.html" with noimage="true" %}
                    <div class="question-name subtitle">{{ answer_form.question_data.name }}</div>
                    {% if answer_form.question_data.description %}
                        <div class="question-description text-content">{{ answer_form.question_data.description }}</div>
                    {% endif %}
                    {% for field in answer_form.hidden_fields %}{{ field }}{% endfor %}
                    {% for field in answer_form.visible_fields %}
                        <div class="form-field{% if field.errors %} error{% endif %}">
                            {{ field }}
                            {% if field.errors %}<div class="errors">{{ field.errors }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    {% if forloop.last %}
                        <input class="button" type="submit" value="Enviar" />
                    {% else %}
                        <div class="button">Siguiente</div>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
    {% else %}
        <div class="no-questions">Preguntas no disponibles</div>
    {% endif %}
{% endblock content %}
