.admin-navigation {
  background: url('../images/backgrounds/navbar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;

  .banner {
    display: flex;
    justify-content: space-between;
    padding: 0 1vh;
    width: 100%;

    .left,
    .right {
      align-items: center;
      display: flex;
    }
  }

  .menu-dropdown {
    display: inline-block;
    position: relative;
  }

  .menu-button {
    background-image: url('../images/icons/menu-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6vh;
    margin-right: 1vw;
    width: 5vw;
  }

  .menu-content {
    background: $white;
    box-shadow: 0 1px 1px 0 $shadow-ligth, 0 0 5.3px 0 $shadow;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    position: absolute;
    width: max-content;
    z-index: 1;

    &.hidden {
      display: none;
    }
  }

  .menu-item {
    color: $inactive;
    display: flex;
    font-size: 2vh;
    justify-content: left;
    margin: 0 1vw;
    padding: 1vh 1vw;
    text-decoration: none;

    &.link {
      color: $secondary;
      cursor: pointer;
      user-select: none;
    }

    &.link:hover {
      opacity: .7;
    }

    .menu-label {
      margin-left: 1vw;
    }
  }

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 2vw;

    &.plus {
      background-image: url('../images/icons/add-dark.svg');

    }

    &.list {
      background-image: url('../images/icons/list.svg');
    }

    &.user {
      background-image: url('../images/icons/user.svg');
    }
  }

  .menu-divider {
    border-bottom: 1px solid $inactive;
    margin: 1vh 1vw;
  }

}

.admin-logo-gs {
  background-image: url('../images/logos/gs-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1vw;
  padding-bottom: 7vh;
  padding-right: 12vw;

  @include small {
    padding-bottom: 6vh;
  }
}

.admin-logo-cegir {
  background-image: url('../images/logos/cegir-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1vw;
  padding-bottom: 5vh;
  padding-right: 8vw;

  @include small {
    padding-bottom: 3vh;
  }
}

.admin-logo-app {
  background-image: url('../images/logos/app-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-left: 1px solid $white;
  height: fit-content;
  margin-left: 1vw;
  padding-bottom: 5vh;
  padding-right: 6vw;

  @include small {
    padding-bottom: 3vh;
  }
}

.admin-logo-core {
  background-image: url('../images/logos/core-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5vh;
  padding-right: 8vw;
}

.admin-logo-uc {
  background-image: url('../images/logos/uc-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
  padding-bottom: 5vh;
  padding-right: 3vw;
}
